<form action="/rota-put" method="post" style="font-family: Arial, Helvetica, sans-serif;">
    <h1>Atulizar algum dado que foi fornecido</h1>
    <label for="id">Selecione o id</label>
    <input type="number" name="id" id="id">
    <label for="nome">Seu nome</label>
    <input type="text" name="nome2" id="nome2" required>
    <label for="idade">Sua idade</label>
    <input type="number" name="idade2" id="idade2" min="1" max="100" required>
    <button type="submit">Enviar</button>
</form>