<form action="/rota-delete" method="post" style="font-family: Arial, Helvetica, sans-serif;">
    <h1>Deletar algum dado do banco de dados</h1>
    <label for="">Informe o id</label>
    <input type="number" name="id" id="id">
    <button type="submit">Confirmar</button>
</form>