<div style="font-family: Arial, Helvetica, sans-serif;">
    <h1>PROJETO - CRUD</h1>
    <h3>Inserir dados no banco de dados</h3>
    <a href="/form"><button>Clique aqui</button></a>
    <hr>
    <h3>Puxar informações do banco de dados</h3>
    <a href="/rotaLer"><button>Clique aqui</button></a>
    <hr>
    <h3>Atualizar informações do banco de dados</h3>
    <a href="/rotaAtualizar"><button>Clique aqui</button></a>
    <hr>
    <h3>Deletar informações do banco de dados</h3>
    <a href="/rotaDeletar"><button>Clique aqui</button></a>
</div>